<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet"
        href="../css/style.css">
</head>

<body>
  <main class="auth">

    <h1>Login</h1>

    <form id="loginForm">

      <input id="email"
             type="email"
             placeholder="Email"
             required>

      <input id="password"
             type="password"
             placeholder="Password"
             required>

      <button>Login</button>

    </form>

    <p id="error"></p>

    <a href="register.html">
      Create account
    </a>

  </main>

  <script type="module"
          src="../js/auth.js">
  </script>
</body>
</html>
