<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet"
        href="../css/style.css">
</head>

<body>
  <main class="auth">

    <h1>Register</h1>

    <form id="registerForm">

      <input id="name"placeholder="Name" required>

      <input id="email" type="email" placeholder="Email" required>

      <input id="password" type="password" placeholder="Password" required>

      <button>Register</button>

    </form>

    <p id="error"></p>

    <a href="login.html"> Already have an account? </a>

  </main>

  <script type="module" src="../js/auth.js"> </script>
</body>
</html>
